.button {
    -fx-border-color: white;
    -fx-background-color: rgb(136, 159, 212);
    -fx-text-fill: white;
}
.button:hover {
    -fx-border-color: rgb(136, 159, 212);
    -fx-background-color: white;
    -fx-text-fill: rgb(136, 159, 212);
}
.button:selected {
    -fx-border-color: rgb(136, 159, 212);
    -fx-background-color: black;
    -fx-text-fill: rgb(136, 159, 212);
}
.sidebar {
    -fx-background-color: rgb(221, 221, 221);
    -fx-text-fill: white;
}
.content-pane {
    -fx-background-color:white;
}